[Unit]
Description=SuziAI Human Annotation Baseline

[Service]
Type=notify
NotifyAccess=all
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%h/www/app/env
ExecStartPre=/bin/rm -f "%t/%n.ctr-id" "%t/%n.pid"
ExecStartPre=/usr/bin/podman pull --quiet "${IMAGE_PREFIX}/application:${IMAGE_VERSION}"
ExecStart=/usr/bin/podman run \
    --name="%N" \
    --network="host" \
    --env-file="%h/www/app/env" \
    --volume="%h/www/static:/app/static" \
    --volume="%h/www/media:/app/media" \
    --volume="%h/www/data:/app/data" \
    --cidfile="%t/%n.ctr-id" \
    --cgroups="split" \
    --sdnotify="conmon" \
    --rm \
    --detach \
    --init \
    "${IMAGE_PREFIX}/application:${IMAGE_VERSION}" \
    \
    gunicorn \
        --workers="4" \
        --bind="127.0.0.1:8000" \
        --access-logfile="-" \
        --error-logfile="-" \
        "suziai_human_annotation.wsgi:application"
ExecStop=-/usr/bin/podman stop --ignore --cidfile="%t/%n.ctr-id"
ExecStopPost=-/usr/bin/podman rm --force --ignore --cidfile="%t/%n.ctr-id"
Restart=on-failure
RestartSec=30
TimeoutStopSec=30

[Install]
WantedBy=default.target
